## Libraries

In [1]:
import numpy as np
import pandas as pd

# Data Exploration

1. Check and understand columns in the dataset.

In [3]:
df = pd.read_csv("../datasets/owid-co2-data.csv")
df

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.165,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.163,0.000,0.000,0.000,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48053,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,0.558,0.037,10.715,1.419,15.265,...,NaN,0.114,0.001,0.001,0.002,0.0,116.76,29.37,-0.088,-0.825
48054,Zimbabwe,2019,ZWE,15354606.0,NaN,0.473,0.031,9.775,-0.939,-8.765,...,NaN,0.113,0.001,0.001,0.002,0.0,116.03,28.70,0.143,1.463
48055,Zimbabwe,2020,ZWE,15669663.0,NaN,0.496,0.032,7.850,-1.926,-19.700,...,NaN,0.112,0.001,0.001,0.002,0.0,113.20,25.99,0.818,10.421
48056,Zimbabwe,2021,ZWE,15993525.0,NaN,0.531,0.033,8.396,0.547,6.962,...,NaN,0.111,0.001,0.001,0.002,0.0,NaN,NaN,1.088,12.956
48057,Zimbabwe,2022,ZWE,16320539.0,NaN,0.531,0.033,8.856,0.460,5.477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct',
       'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita',
       'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2', 'share_global_cumulative_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_luc_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'share_of_temperature_change_from_ghg',
       'temperature_change_from_ch4', 'temperature_change_from_co2',
       'temperature_change_from_ghg', 'temperature_change_from_n2o',
       'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2',
       'trade_co2_share'],
      dtype='object')

2. Filtered unused columns.

In [5]:
df_subset = df[['country', 'year', 'iso_code', 'population', 'gdp', 'primary_energy_consumption', 'cement_co2', 'coal_co2', 'consumption_co2', 
                'flaring_co2', 'gas_co2', 'land_use_change_co2', 'oil_co2', 'other_industry_co2', 'trade_co2', 'co2', 'co2_including_luc']]
df_subset

,country,year,iso_code,population,gdp,primary_energy_consumption,cement_co2,coal_co2,consumption_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2,trade_co2,co2,co2_including_luc
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.980,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.002,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.022,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.038,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.053,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48053,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,51.809,0.558,6.097,10.626,0.0,0.0,8.708,4.060,NaN,-0.088,10.715,19.423
48054,Zimbabwe,2019,ZWE,15354606.0,NaN,46.120,0.473,5.571,9.918,0.0,0.0,8.079,3.731,NaN,0.143,9.775,17.854
48055,Zimbabwe,2020,ZWE,15669663.0,NaN,41.997,0.496,4.309,8.668,0.0,0.0,7.609,3.045,NaN,0.818,7.850,15.459
48056,Zimbabwe,2021,ZWE,15993525.0,NaN,42.145,0.531,4.548,9.484,0.0,0.0,7.117,3.317,NaN,1.088,8.396,15.513
48057,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,0.531,5.027,NaN,0.0,0.0,6.724,3.298,NaN,NaN,8.856,15.580

3. Basic exploration.

In [6]:
df_subset.describe(include='all')

,country,year,iso_code,population,gdp,primary_energy_consumption,cement_co2,coal_co2,consumption_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2,trade_co2,co2,co2_including_luc
count,48058,48058.000000,39717,3.949500e+04,1.456400e+04,10103.000000,23764.000000,25075.000000,4718.000000,24992.000000,25083.000000,37022.000000,25111.000000,2593.000000,4398.000000,30308.000000,23320.000000
unique,264,NaN,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Macao,NaN,CIV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,273,NaN,273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1926.842565,NaN,6.083223e+07,2.677586e+11,2435.045751,9.109400,156.963937,1309.603291,3.636449,51.278100,124.515304,112.920681,17.499371,-7.157874,391.272161,534.225708
std,NaN,59.414846,NaN,3.285867e+08,2.103151e+12,11029.856876,66.463548,765.720061,3825.367597,20.916280,316.033834,488.635011,629.451112,41.335944,269.156220,1855.824655,2164.644277
min,NaN,1750.000000,NaN,2.220000e+02,4.998000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-284.799000,0.000000,0.000000,-2367.758000,0.000000,-187.847000
25%,NaN,1883.000000,NaN,3.464375e+05,7.516679e+09,7.453500,0.000000,0.000000,11.404500,0.000000,0.000000,0.047000,0.084000,0.608000,-3.024750,0.183000,5.950750
50%,NaN,1930.000000,NaN,2.456362e+06,2.597999e+10,66.822000,0.029000,0.703000,71.689500,0.000000,0.000000,3.862000,1.323000,2.850000,1.478500,3.856000,27.777000
75%,NaN,1976.000000,NaN,1.008038e+07,1.132942e+11,455.249000,0.834000,16.988000,446.108250,0.000000,1.344500,23.906750,13.916000,10.562000,9.124000,47.277250,124.373750
max,NaN,2022.000000,NaN,7.975105e+09,1.136302e+14,167787.672000,1692.404000,15219.304000,37149.785000,435.427000,7922.112000,7773.274000,12377.949000,305.387000,2187.777000,37149.785000,41637.617000

In [7]:
df_subset.dtypes

country                        object
year                            int64
iso_code                       object
population                    float64
gdp                           float64
primary_energy_consumption    float64
cement_co2                    float64
coal_co2                      float64
consumption_co2               float64
flaring_co2                   float64
gas_co2                       float64
land_use_change_co2           float64
oil_co2                       float64
other_industry_co2            float64
trade_co2                     float64
co2                           float64
co2_including_luc             float64
dtype: object

In [8]:
df_subset[pd.isna(df_subset['iso_code']) == True]

,country,year,iso_code,population,gdp,primary_energy_consumption,cement_co2,coal_co2,consumption_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2,trade_co2,co2,co2_including_luc
173,Africa,1750,NaN,7.627809e+07,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN
174,Africa,1751,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN
175,Africa,1752,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN
176,Africa,1753,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN
177,Africa,1754,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47534,World,2018,NaN,7.683790e+09,1.136302e+14,161402.734,1565.803,14725.245,36766.945,407.294,7498.021,4285.146,12267.438,303.145,0.000,36766.945,41052.090
47535,World,2019,NaN,7.764951e+09,NaN,163163.344,1615.776,14684.313,37040.102,435.427,7621.427,4597.514,12377.949,305.210,0.000,37040.102,41637.617
47536,World,2020,NaN,7.840953e+09,NaN,157357.797,1633.047,14225.915,35007.738,398.519,7555.261,4295.186,10899.948,295.048,0.000,35007.738,39302.922
47537,World,2021,NaN,7.909295e+09,NaN,165946.156,1692.404,14982.517,36816.539,403.429,7922.112,4321.578,11514.740,301.340,-0.004,36816.543,41138.121
47538,World,2022,NaN,7.975105e+09,NaN,167787.672,1605.474,15219.304,37149.785,397.452,7748.470,4309.951,11877.886,301.199,0.000,37149.785,41459.738

In [9]:
df_subset[pd.isna(df_subset['iso_code']) == True]['country'].unique()

array(['Africa', 'Africa (GCP)', 'Asia', 'Asia (GCP)',
       'Asia (excl. China and India)', 'Central America (GCP)', 'Europe',
       'Europe (GCP)', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'European Union (27)', 'European Union (28)',
       'French Equatorial Africa (Jones et al. 2023)',
       'French West Africa (Jones et al. 2023)', 'High-income countries',
       'International aviation', 'International shipping',
       'International transport', 'Kosovo', 'Kuwaiti Oil Fires (GCP)',
       'Kuwaiti Oil Fires (Jones et al. 2023)',
       'Least developed countries (Jones et al. 2023)',
       'Leeward Islands (GCP)', 'Leeward Islands (Jones et al. 2023)',
       'Low-income countries', 'Lower-middle-income countries',
       'Middle East (GCP)', 'Non-OECD (GCP)', 'North America',
       'North America (GCP)', 'North America (excl. USA)', 'OECD (GCP)',
       'OECD (Jones et al. 2023)', 'Oceania', 'Oceania (GCP)',
       'Panama Canal Zone (GCP)', 'Panama Canal Zone (Jones et al. 2023)',
       'Ryukyu Islands (GCP)', 'Ryukyu Islands (Jones et al. 2023)',
       'South America', 'South America (GCP)',
       'St. Kitts-Nevis-Anguilla (GCP)',
       'St. Kitts-Nevis-Anguilla (Jones et al. 2023)',
       'Upper-middle-income countries', 'World'], dtype=object)

4. Filtered not country rows.

In [10]:
df_subset = df_subset[(~pd.isna(df_subset['iso_code'])) | (df_subset['country'] == 'Kosovo')]
df_subset.loc[df['country'] == 'Kosovo', 'iso_code'] = 'XKK'
df_subset.reset_index(drop=True, inplace=True)
df_subset

,country,year,iso_code,population,gdp,primary_energy_consumption,cement_co2,coal_co2,consumption_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2,trade_co2,co2,co2_including_luc
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.980,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.002,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.022,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.038,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.053,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39884,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,51.809,0.558,6.097,10.626,0.0,0.0,8.708,4.060,NaN,-0.088,10.715,19.423
39885,Zimbabwe,2019,ZWE,15354606.0,NaN,46.120,0.473,5.571,9.918,0.0,0.0,8.079,3.731,NaN,0.143,9.775,17.854
39886,Zimbabwe,2020,ZWE,15669663.0,NaN,41.997,0.496,4.309,8.668,0.0,0.0,7.609,3.045,NaN,0.818,7.850,15.459
39887,Zimbabwe,2021,ZWE,15993525.0,NaN,42.145,0.531,4.548,9.484,0.0,0.0,7.117,3.317,NaN,1.088,8.396,15.513
39888,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,0.531,5.027,NaN,0.0,0.0,6.724,3.298,NaN,NaN,8.856,15.580

5. Investigate data description.

In [11]:
df_subset.describe(include='all')

,country,year,iso_code,population,gdp,primary_energy_consumption,cement_co2,coal_co2,consumption_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2,trade_co2,co2,co2_including_luc
count,39889,39889.000000,39889,3.681900e+04,1.454800e+04,9423.000000,19377.000000,21287.000000,3820.000000,21349.000000,21372.000000,34081.000000,21373.000000,1634.000000,3820.000000,23884.000000,20413.000000
unique,220,NaN,220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Singapore,NaN,SGP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,273,NaN,273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1930.023916,NaN,1.479446e+07,2.255428e+11,611.361701,2.407103,38.482307,234.341456,0.907558,12.248464,31.280075,26.761573,6.114936,0.047724,72.388699,130.017889
std,NaN,56.189743,NaN,7.101870e+07,9.384294e+11,2539.766755,22.985324,253.481179,812.617879,4.513522,76.802181,128.453273,140.636678,18.572046,105.586834,415.556292,510.101794
min,NaN,1750.000000,NaN,2.220000e+02,4.998000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-238.351000,0.000000,0.000000,-1532.440000,0.000000,-187.847000
25%,NaN,1887.000000,NaN,2.934545e+05,7.502995e+09,6.131000,0.000000,0.000000,8.590750,0.000000,0.000000,0.026000,0.092000,0.502250,-1.072750,0.158000,4.542000
50%,NaN,1932.000000,NaN,2.038560e+06,2.589495e+10,53.102000,0.044000,0.268000,38.448000,0.000000,0.000000,2.924000,1.048000,1.215000,1.772500,2.290000,20.127000
75%,NaN,1977.000000,NaN,7.412675e+06,1.125693e+11,305.295500,0.673000,6.373000,147.052500,0.000000,0.609000,15.957000,8.179000,4.222250,8.763500,20.437500,64.597000
max,NaN,2022.000000,NaN,1.425894e+09,1.815162e+13,44275.914000,858.233000,8250.736000,10320.089000,88.437000,1743.539000,2973.366000,2642.692000,177.257000,655.034000,11396.777000,12378.281000

6. Change the GDP values to more current ones

In [12]:
df_mpd2023 = pd.read_excel("../datasets/gdp_mpd2023.xlsx", sheet_name="Full data")

df_gdp = df_mpd2023.copy()
df_gdp['gdp'] = df_gdp['gdppc'] * df_gdp['pop'] * 1000
df_gdp = df_gdp.rename(columns={'countrycode': 'iso_code', "country": "country_name"})
df_gdp

,iso_code,country_name,region,year,gdppc,pop,gdp
0,AFG,Afghanistan,South and South East Asia,1,NaN,NaN,NaN
1,AFG,Afghanistan,South and South East Asia,730,NaN,NaN,NaN
2,AFG,Afghanistan,South and South East Asia,1000,NaN,NaN,NaN
3,AFG,Afghanistan,South and South East Asia,1090,NaN,NaN,NaN
4,AFG,Afghanistan,South and South East Asia,1150,NaN,NaN,NaN
...,...,...,...,...,...,...,...
131139,ZWE,Zimbabwe,Sub Saharan Africa,2018,1900.199191,14096.56,2.678627e+10
131140,ZWE,Zimbabwe,Sub Saharan Africa,2019,1753.024449,14344.59,2.514642e+10
131141,ZWE,Zimbabwe,Sub Saharan Africa,2020,1585.972804,14614.82,2.317871e+10
131142,ZWE,Zimbabwe,Sub Saharan Africa,2021,1687.253154,14900.01,2.514009e+10
131143,ZWE,Zimbabwe,Sub Saharan Africa,2022,1703.529373,15204.66,2.590158e+10

In [13]:
df_merged = pd.merge(df_subset, df_gdp, on=['iso_code', 'year'])

In [15]:
#check differences
df_merged['gdp_diff'] = np.where(
    np.isnan(df_merged['gdp_x']) & np.isnan(df_merged['gdp_y']),
    False,  # Set to False if both are NaN
    df_merged['gdp_x'] != df_merged['gdp_y']
)
df_differences = df_merged[df_merged['gdp_diff']]

df_differences[['country', 'iso_code', 'year', 'gdp_x', 'gdp_y']].to_csv('../datasets/gdp_differences_check.csv', index=False)

In [16]:
df_subset = df_merged.drop(columns={'gdp_x', 'country_name', 'region', 'gdppc', 'pop', 'gdp_diff'})
df_subset = df_subset.rename(columns={'gdp_y': 'gdp'})
df_subset

,country,year,iso_code,population,primary_energy_consumption,cement_co2,coal_co2,consumption_co2,flaring_co2,gas_co2,land_use_change_co2,oil_co2,other_industry_co2,trade_co2,co2,co2_including_luc,gdp
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,2.980,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,3.002,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,3.022,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,3.038,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,3.053,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29862,Zimbabwe,2018,ZWE,15052191.0,51.809,0.558,6.097,10.626,0.0,0.0,8.708,4.060,NaN,-0.088,10.715,19.423,2.678627e+10
29863,Zimbabwe,2019,ZWE,15354606.0,46.120,0.473,5.571,9.918,0.0,0.0,8.079,3.731,NaN,0.143,9.775,17.854,2.514642e+10
29864,Zimbabwe,2020,ZWE,15669663.0,41.997,0.496,4.309,8.668,0.0,0.0,7.609,3.045,NaN,0.818,7.850,15.459,2.317871e+10
29865,Zimbabwe,2021,ZWE,15993525.0,42.145,0.531,4.548,9.484,0.0,0.0,7.117,3.317,NaN,1.088,8.396,15.513,2.514009e+10
29866,Zimbabwe,2022,ZWE,16320539.0,NaN,0.531,5.027,NaN,0.0,0.0,6.724,3.298,NaN,NaN,8.856,15.580,2.590158e+10

7. Save data.

In [17]:
df_subset.to_csv('../output/1_data_exploration.csv', index=False)